.hidden {
  display: none;
}

body {
  background-color: rgb(249, 190, 138);
}

.info1 {
  background-color: white;
  position: absolute;
  width: 500px;
  height: 100px;
  text-align: center;
  padding-top: 20px;
  border-radius: 20px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.info2 {
  background-color: white;
  position: absolute;
  width: 500px;
  height: 100px;
  text-align: center;
  padding-top: 20px;
  border-radius: 20px;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.info3 {
  background-color: white;
  position: absolute;
  width: 500px;
  height: 100px;
  text-align: center;
  padding-top: 20px;
  border-radius: 20px;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

